
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Categories")">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de categorias
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" onclick="openModal()">Crear Nueva</button>
            </div>
        </div>
        <hr />
        <table id="tableCategories" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="formModalLabel">Categoria</h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtId" type="hidden" value="0" />
                <div class="row g-1">
                    <div class="col-sm-6">
                        <label for="txtDescription" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtDescription" aria-describedby="emailHelp" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboActive" class="form-label">Activo</label>
                        <select class="form-select" aria-label="activo" id="cboActive">
                            <option selected>Selecciona una opción</option>
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div id="messageError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="saveNewCategory()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var tableData;
        var rowSelected;
        tableData = $('#tableCategories').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListCategories", "Mantenedor")',
                    type: 'GET',
                    dataType: 'json'
                },
                "columns": [
                    { "data": "Description" },
                    {
                        "data": "Active", "render": function (isActive) {
                            if (isActive) {
                                return '<span class="badge bg-success">Sí</span>'
                            } return '<span class="badge bg-danger">No</span>'
                        }
                    },
                    {
                        "defaultContent": '<button class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen me-1"></i></button>'
                            + '<button class= "btn btn-danger btn-sm ms-2 btn-delete" > <i class="fas fa-trash me-1"></i></button> ',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
        });

        const cleanModal = () => {
            $('#txtId').val(0);
            $('#txtDescription').val("");
            $('#cboActive').val("");
        }

        const closeModal = () => {
            cleanModal();
            $("#formModal").modal("hide");
            cleanModal();
        }

        const openModal = (data) => {

            $("#messageError").hide();

            if (data) {
                $('#txtId').val(data.IdCategory);
                $('#txtDescription').val(data.Description);
                $('#cboActive').val(data.Active ? 1 : 0);
            } else {
                cleanModal();
            }
            $("#formModal").modal("show");
        }

        $("#tableCategories tbody").on("click", ".btn-edit", function () {
            rowSelected = $(this).closest("tr");
            let data
            data = tableData.row(rowSelected).data();

            if (!data) {
                rowSelected = $(this).closest("tr").prev("");
                data = tableData.row(rowSelected).data();
            }

            openModal(data);
        })

        const saveNewCategory = () => {
            let category = {
                Active: $('#cboActive').val() === "1",
                IdCategory: $('#txtId').val(),
                Description: $('#txtDescription').val(),
            }

            jQuery.ajax({
                url: '@Url.Action("SaveCategory", "Mantenedor")',
                type: 'POST',
                data: JSON.stringify({ category: category }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (category.IdCategory == 0) { // New category

                        if (data.result != 0) {

                            category.IdCategory = data.result;
                            tableData.row.add(category).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            console.log("ERRRROR", data)
                            $(".modal-body").LoadingOverlay("hide");

                            $("#messageError").text(data.message);
                            $("#messageError").show();
                        }

                    } else { //Edit category
                        if (data.result) {
                            let data = tableData.row(rowSelected).data(category).draw(false);
                            rowSelected = null;
                            $("#formModal").modal("hide");
                            $(".modal-body").LoadingOverlay("hide");

                        } else {
                            $("#messageError").text(data.message);
                            $("#messageError").show();
                            $(".modal-body").LoadingOverlay("hide");
                        }
                    }

                },
                error: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#messageError").text("Error de servidor");
                    $("#messageError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                }
            })

        }

        $("#tableCategories tbody").on("click", ".btn-delete", function () {
            let categoryDel = $(this).closest("tr");
            let data = tableData.row(categoryDel).data();

            if (!data) { //responsive
                categoryDel = $(this).closest("tr").prev("");
                data = tableData.row(categoryDel).data();
            }

            swal({
                title: "Está seguro?",
                text: `¿Desea eliminar la categoria (${data.Description})?`,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {
                jQuery.ajax({
                    url: '@Url.Action("DeleteCategory", "Mantenedor")',
                    type: 'POST',
                    data: JSON.stringify({ id: data.IdCategory }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log("Data DELETE", data);
                        if (data.result) {
                            tableData.row(categoryDel).remove().draw();
                        } else {
                            swal("No se pudo eliminar la categoria", data.message, "error");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    beforeSend: function () {
                        //poner loader
                        console.log("beforeSend")
                    }
                 })
            });


        })

    </script>
}